#background{
    width:20%;
    position:absolute;
}
.BACKGROUND{
    position:absolute;
    width:110%;
    height:120%;
    left:-5%;
    top:-10%;
    right:0px;
    bottom:0px;
    overflow:hidden;
}
.TreeCorner1{
    bottom: 0%;
	right: 0%;
}
.TreeCorner2{
    top: 0;
	right: 0%;
}
.TreeCorner3{
    top: 0;
	left: 0;
}
.TreeCorner4{
    bottom: 0%;
	left: 0;
}
.bgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    border-radius: 10px;
    width:115%;
    aspect-ratio : 1 / 1;
    left:-5%;
    top:-5%;
    position:absolute;
}
.bitem {
    border: 5px solid #00000025;
    width:100%;
    aspect-ratio : 1 / 1;
    text-align: center;
}
button:active{
    transition: 0.1s;
    filter: brightness(75%);
}