@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
    --primary-color: #ADD49e;
    --secondary-color: #331b00;
    --button-background: #ff8000a0;
    --button-border: #ff8000;
    --button-shadow: #331b0087;
    --button2-background: #249900a0;
    --host-background:#39bb115d;
    --button2-border: #249900;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Lilita One', cursive;
    font-weight: 200;
    width: 100%;
}
.icon {
    width: 40px;
    pointer-events: none;
    height: 40px;
}
.close{
    width: 70px;
    height: 70px;
    position:absolute;
    border-radius: 1vh;
    box-sizing: border-box;
    border: 5px solid var(--button-border);
    background-color:var(--button-background);
    box-shadow: -6px 6px var(--button-shadow);
    transition: 0.5s;
    right: 5vh;
    top:5vh;
    z-index:2;
}
.close:hover{
    filter: brightness(0.85);
}
body {
    color: #333;
    line-height: 1.6;
    font-weight: 200;
    background-color: var(--primary-color);
    overflow: hidden;
}
.host{
    position: absolute;
}
.container {
    max-width: 1500px;
    margin: 100px auto;
    overflow: visible;
    padding: 10px 50px;
}
.selector {
    margin: 3vh auto;
    width:100%;
    max-width: 1000px;
    overflow-y: auto;
    height: 92vh;
    background-color: var(--host-background);
    border-radius: 2vh;
    border: 5px solid var(--button2-border);
    box-shadow: -6px 6px var(--button-shadow);
}
.grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    overflow: visible;
    gap:10px;
}
.edit{
    max-width: 1500px;
    margin: 0 auto;
    padding: 10px 10px;
}
.grid2{
    display:grid;
    grid-template-columns: 1fr 2.5fr;
    max-width: 1500px;
    margin: 5px auto;
    overflow: visible;
    padding: 10px 10px;
    background-color: #ffffff42;
    border-radius:1vh;
    gap:5px;
}
.grid3x5{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    aspect-ratio: 5/3;
    width:70%;
    margin-left:auto;
    overflow: visible;
    border-radius:1vh;
}
.shadow{
    display:grid;
    max-width: 1500px;
    margin: 5px auto;
    overflow: visible;
    padding: 10px 10px;
    background-color:#ffffff42;
    border-radius:1vh;
}
.title{
    margin: 5vh auto;
    overflow: visible;
    padding: 10px 10px;
}
h2{
    font-size:300%;
    font-weight: 900;
    color: #333;
    text-shadow: -6px 6px var(--button2-background);
}
h3{
    font-size:120%;
    font-weight: 500;
    color: #eeeeee;
    text-shadow: -2px 2px #333333a0;
}
h4{
    font-size:150%;
    font-weight: 500;
    color: #333;
    text-shadow: -2.5px 2.5px var(--button2-background); 
}
h5{
    font-size:95%;
    font-weight: 500;
    color: #333;
}
h6{
    font-size:90%;
    font-weight: 500;
    color: #1b6500;
}
.selection{
    border-radius: 1vh;
    box-shadow: -2.5px 2.5px var(--button-shadow);
    border: 4px solid #333;
    font-size:90%;
    font-weight: 500;
    padding-left: 5px;
    color: #333;
}
.selection:hover{
    filter: brightness(0.85);
}
.checkBox{
    display:none;
}
label{
    border-radius: 1vh;
    box-shadow: -2.5px 2.5px var(--button-shadow);
    border: 4px solid #333;
    color: #333;
    display:block;
    width:100%;
    padding: 3px 4px;
    margin:0 auto;
    background-color: #ffffff4b;
}
label:hover{
    filter: brightness(0.85);
}
.tank_images{
    width:100%;
    pointer-events: none;
}
:checked+label{
    box-shadow: -2.5px 2.5px var(--button-shadow);
    border: 4px solid var(--button2-border);
    background-color: var(--button2-background);
}
.numbers{
    font-size:90%;
    font-weight: 500;
    color: #333;
    border-radius: 2vh;
    border: 5px solid #333;
    background-color: #ffffff;
    padding-left: 1vh;
    box-shadow: -2.5px 2.5px var(--button-shadow);
}
.numbers:hover{
    filter: brightness(0.85);
}
.setEdit{
    border-radius: 1vh;
    border: 5px solid #333;
    background-color: #ffffff6e;
    transition: 0.5s;
    color: #333;
}
.setEdit:hover {
    background-color: #ffffff;
    transition:0.5s;
}
.button{
    margin-top: 30px;
    width: 100%;
    min-width: 200px;
    border-radius: 1vh;
    box-sizing: border-box;
    border: 5px solid var(--button-border);
    background-color:var(--button-background);
    box-shadow: -6px 6px var(--button-shadow);
    transition: 0.5s;
    color:#333;
    font-size:200%;
}
.button:hover{
    filter: brightness(0.85);
}
.select{
    width:100%;
    border-radius: 1vh;
    pointer-events: none;
}
::-webkit-scrollbar {
    width: 1vh;
    border-radius: 2vh;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 2vh;
    border: 5px solid var(--button2-border);
    background-color: #00ff0d42;
}
::-webkit-scrollbar-thumb {
    background-color: #00ff0d6c;
    border: 5px solid #00ff0d;
    border-radius: 2vh;
}
::-webkit-scrollbar-thumb:hover {
    border: 5px solid #ff8800;
    background-color: #ff88006c;
}
