@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
    --primary-color: #ADD49e;
    --secondary-color: #331b00;
    --button-background: #ff8000a0;
    --button-border: #ff8000;
    --button-shadow: #331b0087;
    --button2-background: #249900a0;
    --shop-background:#ffd9005d;
    --shop-border:#ffd900;
    --button2-border: #249900;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Lilita One', cursive;
    font-weight: 200;
    width: 100%;
}
.icon {
    width: 40px;
    height: 40px;
    pointer-events: none;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.close{
    width: 70px;
    height: 70px;
    position:absolute;
    border-radius: 1vh;
    box-sizing: border-box;
    border: 5px solid var(--button-border);
    background-color:var(--button-background);
    box-shadow: -6px 6px var(--button-shadow);
    transition: 0.5s;
    right: 5vh;
    top:5vh;
    z-index:2;
}
.close:hover{
    filter: brightness(0.85);
}
body{
    color: #333;
    line-height: 1.6;
    font-weight: 200;
    background-color: var(--primary-color);
    overflow: hidden;
}
.grid{
    display: grid;
    grid-template-columns: 0.25fr 1fr 10fr;
    gap: 20px;
    justify-content: left;
    align-items: left;
    border-bottom: 5px dashed var(--shop-border);
}
.grid2{
    padding-top:5%;
    display: grid;
    grid-template-columns: 22.7272% 75.7575%;
    gap: 1.5%;
    justify-content: center;
}
.grid3{
    padding-top:5%;
    display: grid;
    grid-template-rows: 42.8571429% 42.8571429%;
    gap: 14.2857142%;
}
.gridv3{
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-rows: 33% 33% 33%;
    min-width: 125px;
    width:100%;
}

.shop {
    position: absolute;
}
.container {
    max-width: 2000px;
    margin: 100px auto;
    overflow: visible;
    padding: 10px 100px;
}
.selector {
    margin: 2% 2%;
    max-width: 96%;
    width:96%;
    overflow-y: auto;
    height: 92vh;
    background-color: var(--shop-background);
    border-radius: 1vh;
    border: 5px solid var(--shop-border);
    box-shadow: -6px 6px var(--button-shadow);
}
.gridS{
    display:grid;
    grid-template-columns: 50px 1fr;
    width: 100%;
    height: 70px;
    padding-left: 75%;
}
.grid_stretch{
    display:grid;
    grid-template-columns: 17% 17% 17% 17% 17%;
    grid-template-rows: 17%;
    padding-left: 1vh;
    gap:3%;
    row-gap: 20%;
    width:100%;
    aspect-ratio: 1.8/1;
    overflow: hidden;
    overflow-y:scroll;
    border-radius: 1vh;
    background-color: var(--shop-background);
}
.skinButton{
    width: 100%;
    background-color:var(--shop-background);
    border-radius: 1vh;
    border: 5px solid var(--shop-border);
    box-shadow: -6px 6px var(--button-shadow);
}
.hasSkin{
    width: 100%;
    background-color:#333333a0;
    border-radius: 1vh;
    border: 5px solid #333;
    box-shadow: -6px 6px var(--button-shadow);
}
.hasSkin:hover{
    filter: brightness(0.85);
}
.equippedSkin{
    width: 100%;
    background-color:var(--button2-background);
    border-radius: 1vh;
    border: 5px solid var(--button2-border);
    box-shadow: -6px 6px var(--button-shadow);
}
.equippedSkin:hover{
    filter: brightness(0.85);
}
.skinButton:hover{
    filter: brightness(0.85);
}
h2{
    font-size:300%;
    font-weight: 900;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 20px;
    color: #333;
    text-align: left;
}
h3{
    font-size: 2.25vh;
    color:#333;
    height:50%;
    margin: auto auto;
    text-align: center; 
    width:100%;

}
h4{
    font-size: 30px;
    color:#ffd900;
    text-shadow: 4px 4px #937d00;
    padding-top: 8px;
    text-align: left;
}
.TankPlaceHolder{
    display: block;
    margin-right: auto;
    margin-top:-12px;
    aspect-ratio: 1/1;
    padding-top: 7%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 3%;
    min-width: 125px;
}
.TankPlaceHolder:hover{
    filter: brightness(1);
}
#base{
    position: relative;
}
#pointer{
    position: absolute;
    width:29%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    display: block;
    margin: auto;
}
#equip{
    width:100%;
    font-size: 1.75vh;
    font-weight: 900;
    color:#333;
    background-color:var(--button-background);
    border-radius: 1vh;
    border: 5px solid var(--button-border);
    box-shadow: -6px 6px var(--button-shadow);
}
#equipped{
    text-align: center;
    vertical-align: middle;
    display:inline-block;
    font-size: 1.75vh;
    font-weight: 900;
    color: var(--button2-border);
    background-color:var(--button2-background);
    border-radius: 1vh;
    border: 5px solid var(--button2-border);
    box-shadow: -6px 6px var(--button-shadow);
}
.Buy{
    width:100%;
    font-size: 1.75vh;
    font-weight: 900;
    color:#937d00;
    text-align: center;
    background-color:var(--shop-background);
    border-radius: 1vh;
    border: 5px solid var(--shop-border);
    box-shadow: -6px 6px var(--button-shadow);
}
.noBuy{
    width:100%;
    font-size: 1.75vh;
    font-weight: 900;
    color:#333;
    text-align: center;
    background-color:#666666a0;
    border-radius: 1vh;
    border: 5px solid #333;
    box-shadow: -6px 6px var(--button-shadow);
}
#equip:hover{
    filter: brightness(0.85);
}
#button_grid{
    display: grid;
    grid-template-rows: 100% 0% 0%;
}
::-webkit-scrollbar {
    width: 1vh;
    border-radius: 1vh;
    height:100%;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 1vh;
    border: 5px solid var(--button2-border);
    background-color: #00ff0d42;
    
}
::-webkit-scrollbar-thumb {
    background-color: #00ff0d6c;
    border: 5px solid #00ff0d;
    border-radius: 1vh;
}
::-webkit-scrollbar-thumb:hover {
    border: 5px solid #ff8800;
    background-color: #ff88006c;
}
